/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Permanent Marker", cursive;
}
.overly {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}
.button {
  width: 100px;
  height: 100px;
  border: 2px solid #212121;
  margin-right: 15px;
  border-radius: 0.5rem;
  cursor: pointer;
}
span {
  padding-top: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

h1 {
  padding-bottom: 1.5rem;
  font-size: 2.8rem;
  text-shadow: 5px 5px 8px #313231;
}

h2 {
  padding-top: 1.5rem;
}

h1,
h2 {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  color: #212121;
}

#purple {
  background-color: #bc7af9;
}

#pink {
  background-color: #f2afef;
}

#brown {
  background-color: #2f2b22;
}

#orange {
  background-color: #e46e19;
  color: #212121;
}
#orange:hover {
  background-color: #d06315b8;
}

#purple:hover,
#pink:hover,
#brown:hover,
#orange:hover {
  box-shadow: 10px 10px 5px #373737;
  transform: scale(1.1, 1.1);
}
